/* Full Page background */
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* Hero Section */
.hero-section {
    position: relative;
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1556742049-0cfed4f6a45d')
    no-repeat center center/cover;
}

/* Dark overlay */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
}

/* Center content */
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

/* Main Title */
.content h1 {
    font-size: 55px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-weight: 700;
}

/* Subtitle Title */
.content h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 500;
    opacity: 0.9;
}

/* Tagline */
.subtitle {
    font-size: 18px;
    margin-bottom: 30px;
    opacity: 0.85;
}

/* Button Design */
.btn {
    padding: 12px 28px;
    background: #00aaff;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    transition: 0.3s;
    font-weight: 600;
}

.btn:hover {
    background: #0077cc;
    transform: scale(1.05);
}
footer {
            text-align: center;
            padding: 15px;
            background: hsl(231, 6%, 55%);
            margin-top: 40px;
            font-size: 14px;
        }

  