<!DOCTYPE html>
<html>
<head>
    <title>Types of Cyber Attacks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

<header><h1>Types of Cyber Attacks</h1></header>

<nav>
    <a href="/awareness">Home</a>
    <a href="/cybersecurity">Cybersecurity</a>
    <a href="/attacks">Cyber Attacks</a>
    <a href="/safe-browsing">Safe Browsing</a>
    <a href="/phishing">Detect Phishing</a>
    <a href="/social-media">Social Media Safety</a>
    <a href="/real-attacks">Real Attacks</a>
    <a href="/aiphishing">AI-Detection</a>
</nav>

<nav class="navbar">
    <a href="/report" class="admin-btn">Report Issue</a>
    <a href="/admin-login" class="admin-btn">Admin</a>
    <a href="/awareness" class="logout-btn">Logout</a>
</nav>
<div class="container">
    <h2>Common Attacks</h2>
    <ul>
        <li><a href="/Phishing-Attacks"><button>Phishing Attacks</button></a>
        </li><br>
        <li><a href="/Malware-Attacks"><button>Malware Attack</button></a>
        </li><br>
        <li><a href="/Ransomware-Attacks"><button>Ransomware</button></a>
        </li><br>
        <li><a href="/Dos&Ddos-Attacks"><button>DOS & DDOS Attack</button></a>
        </li><br>
        <li><a href="/SQL-Attacks"><button>SQL Injection</button></a>
        </li><br>
        <li><a href="/zero-Attacks"><button type="submit" class="btn">Zero-Day Exploit</button></a>
        </li>
    </ul>
</div>
<footer>
    © 2025 Cyber Security Awareness website
</footer>
</body>
</html>