<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cyber Security Awareness</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

<header>
    <h1>Cyber Security Awareness </h1>
</header>

<nav>
    <a href="/awareness">Home</a>
    <a href="/cybersecurity">cybersecurity</a>
    <a href="/attacks">Cyber Attacks</a>
    <a href="/safe-browsing">Safe Browsing</a>
    <a href="/phishing">Detect Phishing</a>
    <a href="/social-media">Social Media Safety</a>
    <a href="/real-attacks">Real Attacks</a>
    <a href="/aiphishing">AI-Detection</a>
</nav>

<nav class="navbar">
  <a href="/report" class="admin-btn">Report Issue</a>
    <a href="/admin-login" class="admin-btn">Admin</a>
    <a href="/" class="logout-btn">Logout</a>
    
</nav>

<div class="container">
  <h2>Essential Cybersecurity Topics</h2>
  
  <div class="topics-grid">

    <div class="topic-card">
      <h3>What is Cybersecurity?</h3>
      <p>Learn how to protect devices, data, and online accounts from threats.</p>
    </div>

    <div class="topic-card">
      <h3>Phishing & Social Engineering</h3>
      <p>Identify fake emails, scams, and manipulative tactics online.</p>
    </div>

    <div class="topic-card">
      <h3>Strong Passwords & 2FA</h3>
      <p>Create strong passwords and enable two-factor authentication for extra security.</p>
    </div>

    <div class="topic-card">
      <h3>Safe Browsing & Wi-Fi Security</h3>
      <p>Use secure websites, update software, and protect networks from attackers.</p>
    </div>

    <div class="topic-card">
      <h3>Device Security</h3>
      <p>Antivirus, firewalls, and regular software updates are your first defense.</p>
    </div>

    <div class="topic-card">
      <h3>Data Backup & Recovery</h3>
      <p>Keep your files backed up and know how to recover in case of attacks like ransomware.</p>
    </div>

    <div class="topic-card">
      <h3>Real-World Cyber Attacks</h3>
      <p>Learn from case studies to understand attack methods and prevention.</p>
    </div>

    <div class="topic-card">
      <h3>AI & Emerging Threats</h3>
      <p>Understand how AI is shaping cybersecurity and new types of digital threats.</p>
    </div>

  </div>
</div>
<footer>
    © 2026 Cyber Security Awareness website
</footer>
</body>
</html>

