<!DOCTYPE html>
<html lang="en">
<head>
    
    <marquee scrollamount="10" style="color: rgb(48, 9, 9); font-size: 30px; " >Welcome to my website!</marquee>
    <meta charset="UTF-8">
    <title>Cyber Security Awareness Using AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sty.css') }}">
</head>
<body>

<div class="hero-section">
    <div class="overlay"></div>

    <div class="content">
        <h1>Cyber Security Awareness</h1>
        <h2>Using Artificial Intelligence</h2>

        <p class="subtitle">
            Learn. Detect. Protect.  
            Your safety in the digital world starts here.
        </p>

        <a class="btn" href="/register">Welcome to website</a>
    </div>
</div>
<footer>
    © Cyber Security Awareness website
</footer>
</body>
</html>

