<!DOCTYPE html>
<html>
<head>
    <title>Real Cyber Attack Cases</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

<header><h1>Real-World Cyber Attacks</h1></header>

<nav>
    <a href="/awareness">Home</a>
    <a href="/cybersecurity">cybersecurity</a>
    <a href="/attacks">Cyber Attacks</a>
    <a href="/safe-browsing">Safe Browsing</a>
    <a href="/phishing">Detect Phishing</a>
    <a href="/social-media">Social Media Safety</a>
    <a href="/real-attacks">Real Attacks</a>
    <a href="/aiphishing">AI-Detection</a>
</nav>

<nav class="navbar">
    <a href="/report" class="admin-btn">Report Issue</a>
    <a href="/admin-login" class="admin-btn">Admin</a>
    <a href="/awareness" class="logout-btn">Logout</a>
</nav>
<div class="container">
    <h2>Case Studies</h2>
    <ul>
        <li><a href="/Big-basket"><button>BigBasket Data Breach 2020</button></a>
        </li><br>
        <li><a href="/Aadhar"><button>Aadhaar Data Leak</button></a>
        </li><br>
        <li><a href="/Data"><button>Jio Data Exposure</button></a>
        </li><br>
        <li><a href="/Wannacry-attack"><button>WannaCry Attack</button></a>
        </li><br>
        
    </ul>
</div>
<footer>
    © 2026 Cyber Security Awareness website
</footer>
</body>
</html>