<!DOCTYPE html>
<html>
<head>
    <title>Safe Browsing Practices</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

<header><h1>Safe Browsing Practices</h1></header>

<nav>
    <a href="/awareness">Home</a>
    <a href="/cybersecurity">cybersecurity</a>
    <a href="/attacks">Cyber Attacks</a>
    <a href="/safe-browsing">Safe Browsing</a>
    <a href="/phishing">Detect Phishing</a>
    <a href="/social-media">Social Media Safety</a>
    <a href="/real-attacks">Real Attacks</a>
    <a href="/aiphishing">AI-Detection</a>
</nav>

<nav class="navbar">
    <a href="/report" class="admin-btn">Report Issue</a>
    <a href="/admin-login" class="admin-btn">Admin</a>
    <a href="/awareness" class="logout-btn">Logout</a>
</nav>
<div class="container">
    <h2>Tips for Safe Browsing</h2>
    <ul>
        
        <li><a href="/Unknown-links"><button>Do not click unknown links</button></a>
        </li><br>
        <li><a href="/Http-website"><button>Use HTTPS websites only</button></a>
        </li><br>
        <li><a href="/Antivirus"><button>Install antivirus softwaer</button></a>
        </li><br>
        <li><a href="/Authentication"><button>Enable two-factor authentication</button></a>
        </li><br>
    
    </ul>
        
</div>
<footer>
    © 2026 Cyber Security Awareness website
</footer>
</body>
</html>