<!DOCTYPE html>
<html>
<head>
    <title>Social Media Security</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

<header><h1>How to Secure Social Media</h1></header>

<nav>
    <a href="/awareness">Home</a>
    <a href="/cybersecurity">cybersecurity</a>
    <a href="/attacks">Cyber Attacks</a>
    <a href="/safe-browsing">Safe Browsing</a>
    <a href="/phishing">Detect Phishing</a>
    <a href="/social-media">Social Media Safety</a>
    <a href="/real-attacks">Real Attacks</a>
    <a href="/aiphishing">AI-Detection</a>
</nav>

<nav class="navbar">
     <a href="/report" class="admin-btn">Report Issue</a>
    <a href="/admin-login" class="admin-btn">Admin</a>
    <a href="/awareness" class="logout-btn">Logout</a>
</nav>
<div class="container">
    <h2>Security Tips</h2>
    <ul>
         <li><a href="/Strong-pwd"><button>Use strong passwords</button></a>
        </li><br>
        <li><a href="/Otp"><button>Do not share OTPs</button></a>
        </li><br>
        <li><a href="/Privacy"><button>Enable privacy settings</button></a>
        </li><br>
        <li><a href="/Verify"><button>Verify friend requests</button></a>
        </li><br>
        
    </ul>
</div>
<footer>
    © 2025 Cyber Security Awareness website
</footer>
</body>
</html>